<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/weather.png">
    <title>About Me</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
        <p>Web Developer | Just a young gun with a quick fuse</p>
    </div>

    {{>footer}}
</body>

</html>